body {
  background-color: rgb(53, 53, 53);
}
#searchContainer{
  background-color: blueviolet;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
#searchBtn {
  width: 70px;
  background-color: greenyellow;
  cursor: pointer;
}

#weatherCard {
  height: 200px;
  width: 200px;
  background-color: rgb(25, 170, 228);
}
